body{
margin: 0;
padding: 0;
background-image: url(IMG/Background-Mac.jpg);
}

.geenactivitiet{
text-align: left;
align-items: center;

}

.feld{
    padding: 70px 70px;
    width: 900px;
    background: #2b2b2b;
    color: white;
    top: 50%;
    Left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    font-family: arial;
    text-align: left;

}

button{
    border: none;
    color: white;
    background-color: red;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 55px;

}

.logout{
margin-top: 90px;
margin-right: 25px;


}



.Event{



}



.submit{
margin-right: 20px;

}
.Logo{
width: 160px;
height: 100px;
border-radius: 0%;
position: absolute;
top: -50px;
left: calc(45% - 50px);}

p{
font-family: sans-serif;
text-align: left; 
margin-top: 10px ;

}
li{
list-style: none;


}

a{
    color: white;
    cursor: pointer;
    text-decoration: none;


}