body{
padding: 0;
margin: 0;
}


/*hier style ik de grijse sidebar */
.topbar {
 height:100vh;
 width:200px;
 background-color:#2b2b2b;
 display: flex;
 flex-direction: column;
 gap: 10px 30px;
}
/*hier position en resize ik het logo*/
.Logo{ 
max-width: 60%;
margin-top: 10px;
margin-left: 15%;
} 

/*hier style ik de link*/
.link{
order: 0;
font-size: 18px;

}

ul{
list-style: none;

}

.agenda{
margin-bottom: 30px;

}

a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    margin-left: -20px;
}

h1{
font-family: sans-serif;
font-size: 1em;
font-weight: lighter;
}


.title{ 
font-size: 35px;
display: contents;
font-family: sans-serif;
}


.INFO_CON {
padding-left: 200px;
margin-top: -150px;
z-index: -12;
width: 1000px;
}

.output{
padding-left: 40px;

}
