body { 
margin: 0;
padding: 0;
}

.container{
height: 100vh;
width: 15%;
background-color: gray;
/* flex-direction: column; */
/* justify-content: center; */
gap: 10px;
}

.purple{
height: 20vh;
width: 100%;
background-color: purple;
}

.green{
height: 20vh;
width: 100%;
background-color: greenyellow;
}

.red{
height: 20vh;
width: 100%;
background-color: red;
}