body
{
margin: 0; 
padding: 0;

} 


.inputvelden
{
    padding: 70px 70px;
    width: 320px;
    height: 420px;
    background: #2b2b2b;
    color: white;
    top: 50%;
    Left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    font-family: arial;
  }


.firstevent
{
    background-color: white;
    border: none;
    height: 30px;
}


.date
{
    height: 33px;
    width: 162px;
}

.hour
{
    height: 30px;
    width: 159px;
}



.button 
{
    border: none;
    outline:none;
    height: 40px;
    background: #fb2525;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
    width: 115px;
    margin-left: 25px;
    cursor: pointer;
}



.Logo
{
    width: 160px;
    height: 100px;
    border-radius: 0%;
    position: absolute;
    top: 117.5px;
    left: 686px;
    z-index: 2;

  }
 
  
  
  
h1
{
    font-family: arial;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.background {
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    
   }